@charset "UTF-8";
/* CSS Document */
/* Global and SmallScreen */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body { margin:0; padding:0; }
ol, ul { 
	list-style: none;
	margin: 0;
	padding: 0;
 }
section {
	padding:1em;
}
.pattern {
	background: #f7f7f7;
	border-bottom: 1px solid #808080;
	margin-bottom: 1em;
	overflow: hidden;
}
.navigation {
	padding: 1em;
}
select {
	width: 100%;
}
.nav-list {
	overflow: hidden;
}
.nav-list li {
	float: left;
	margin-right: 1em;
}

